<h2>Leave Requests</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="leave : ${leaves}">
        <td th:text="${leave.employeeName}"></td>
        <td th:text="${leave.reason}"></td>
        <td th:text="${leave.status}"></td>

        <td>
            <span th:if="${leave.status == 'PENDING'}">
                <a th:href="@{/approve/{id}(id=${leave.id})}">Approve</a> |
                <a th:href="@{/reject/{id}(id=${leave.id})}">Reject</a>
            </span>

            <span th:if="${leave.status != 'PENDING'}">
                Action Completed
            </span>
        </td>
    </tr>
</table>
